/testFiles/
/query/
/queryAligns/
/queryData/
/queryPlots/
/querySNP/
/genomes/
/cdsData/
/rnaData/
/lpsnFiles/
/refFiles/
/refFiles/cdsData/
/refFiles/genomeData/
/refFiles/rnaData/
/refFiles/targetSeqs/
